// BEGIN: Mat radio button custom colors

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $blue;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: $blue;
    background-color: $blue;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $blue;
}
.mat-radio-group .mat-radio-button {
    color: $matLabelGray;
}

// END: Mat radio button custom colors
