
@import '../../../Variables.scss';

p{
text-align: center;
font-size: larger;


}
.balance{
    font-size: 28px;
    display: flex;
    flex-direction: row-reverse;
    color: $green;

}
.afrimi{

    padding: 25px;
.bobi{
  
background-color:$lightGrey;
border-radius: 28px;
border-width: 110px;
padding: 65px;

.fromdhefoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
.forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    .bisha   {
        width: 100%;
        border-radius: 10px;
        ::placeholder {
            color: $matLabelGray;
        }
    }
      
        mat-error {
            width: 100%;
            font-size: 12px;
            text-align: left;
        }
    }
}

.cart{
display: flex;
align-items: center;
justify-content: center;




}
.cart:hover{
border-radius: 15px;
background-color: $blue;



}

}
}