

<br>
<div class="home">
    <p style="font-size: 35px;">{{cartName}}</p>
    <br>
   
    <app-nav></app-nav>
</div>
<br>
    <div class="afrimi">
    <div class=bobi >
    <br>
    <p class="balance">Balance: {{balance}} {{currency}}</p>
    <p style="font-size: 25px;">Choose the menu:</p>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
     
        <mat-panel-description>
          <p style="font-size: 20px;">Withdraw</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="fromdhefoto">
      <form [formGroup]="withdrawForm" class="forma">

      <mat-form-field appearance="outline" class="bisha withdraw" hideRequiredMarker>
        <mat-label for="Amount">Amount:</mat-label>
        <input matInput type="number" formControlName="amount"   placeholder="Amount"  autocomplete="off" >
        <mat-error *ngIf="withdrawForm.controls['amount'].invalid">
        Incorrect Amount
      </mat-error>
      </mat-form-field>
      <button (click)="withdraw()" class="button button-full">Withdraw</button>
    </form>
    <p style="padding: 2%">
      <b>
    Please make sure to enter a valid amount for withdrawal. <br>
    The amount should be greater than 0 and not exceed your available balance. <br>
    Thank you for your understanding.</b></p>
    <img src="../../../assets/digibyte-dgb.gif" alt="">
  </div>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
     
        <mat-panel-description>
          <p style="font-size: 20px;">Deposit</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="fromdhefoto">
      <form [formGroup]="depositForm" class="forma">

        <mat-form-field appearance="outline" class="bisha" hideRequiredMarker>
          <mat-label for="Amount">Amount:</mat-label>
          <input matInput type="number" formControlName="amount"   placeholder="Amount"  autocomplete="off" >
          <mat-error *ngIf="depositForm.controls['amount'].invalid">
            Incorrect Amount
          </mat-error>
        </mat-form-field>
        <button (click)="deposit()" class="button button-full">Deposit</button>
      </form>
      <p style="padding: 2%">
        <b>
      Please make sure to enter a valid amount for  your deposit. <br>
      The amount should be greater than 0. <br>
      Thank you for your understanding.</b></p>
      <img src="../../../assets/deposit.jpg" alt="">
      </div>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
     
        <mat-panel-description>
          <p style="font-size: 20px;">Send</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <label for="">Amount</label>
      <input type="text">
      <button>Send</button>
    </mat-expansion-panel>

   
</div>


</div>

