<!-- <div class="container">
    <div id="card">
      <div class="row-cardLogo">
        <a href="https://james-daw.com" target="_blank">
          <div id="cardLogo"></div> 
      </div> </a>
      <div class="row-Chip">
        <div id="chip"></div>
        <div id="contactless"></div>
      </div>
      <form class="row-cardNum">
            <input type="text" name="cc1" id="cc1" placeholder="3782"/>
            <input type="text" name="cc2" id="cc2" placeholder="8224"/>
            <input type="text" name="cc3" id="cc3" placeholder="6310"/>
            <input type="text" name="cc4" id="cc4" placeholder="005"/>
      </form>
      <div class="row-result">
        <div id="resultText">
          Card Valid?
        </div>
        <div id="validSymbols">
        </div>
      </div>
    </div>
  </div> -->